__pycache__/
*.DS_Store
.idea/
.vscode/
data/output_data
.ipynb
*.sh
data/raw_data/grid4x4/*.xml
data/raw_data/grid4x4/*.pdf
*.ipynb
robust grid4x4 experiments/dqn/combined_queue_sensor.xml
robust grid4x4 experiments/colight/combined_sensor_queue.xml
robust grid4x4 experiments/mplight/combined_sensor_queue.xml
robust grid4x4 experiments/fixedtime/combined_queue.xml
sumo_ingolstadt
ingo_experiments/dqn/ingo_evening_queue.xml
ingo_experiments/dqn/ingo_morning_queue.xml
ingo_experiments/dqn/ingo_noon_queue.xml
ingo_experiments/colight/ingo_evening_queue.xml
ingo_experiments/colight/ingo_morning_queue.xml
ingo_experiments/colight/ingo_noon_queue.xml
