__pycache__/
*.DS_Store
.idea/
.vscode/
data/output_data
.ipynb
*.sh
data/raw_data/grid4x4/*.xml
data/raw_data/grid4x4/*.pdf
*.ipynb
robust grid4x4 experiments/dqn/combined_queue_sensor.xml
robust grid4x4 experiments/colight/combined_sensor_queue.xml
robust grid4x4 experiments/mplight/combined_sensor_queue.xml
robust grid4x4 experiments/fixedtime/combined_queue.xml
sumo_ingolstadt
ingo_experiments/dqn/ingo_evening_queue.xml
ingo_experiments/dqn/ingo_morning_queue.xml
ingo_experiments/dqn/ingo_noon_queue.xml
ingo_experiments/colight/ingo_evening_queue.xml
ingo_experiments/colight/ingo_morning_queue.xml
ingo_experiments/colight/ingo_noon_queue.xml
ingo_experiments/colight/ingo_sensor_queue.xml
ingo_experiments/dqn/ingo_sensor_queue.xml
robust grid4x4 experiments/dqn/combined_sensor_queue.xml
robust grid4x4 experiments/maxpressure/combined_sensor_queue.xml
ingo_experiments/dqn/ingo_combined_queue_1.xml
ingo_experiments/dqn/ingo_combined_queue_2.xml
ingo_experiments/dqn/ingo_combined_queue_3.xml
ingo_experiments/dqn/ingo_combined_queue_4.xml
ingo_experiments/dqn/ingo_combined_queue_5.xml
ingo_experiments/dqn/ingo_combined_queue_6.xml
ingo_experiments/dqn/ingo_combined_queue_7.xml
ingo_experiments/dqn/ingo_combined_queue_8.xml
ingo_experiments/dqn/ingo_combined_queue_9.xml
ingo_experiments/dqn/ingo_combined_queue_10.xml
ingo_experiments/dqn/ingo_combined_queue_11.xml
ingo_experiments/dqn/ingo_combined_queue_12.xml
